<form action="<%=path%>" method="<%=method%>" enctype="multipart/form-data" class="form-create-product">
    <div class="product-items">
        <label>Nombre</label>
        <input type="text" name="name" placeholder="Nombre Producto" <% if (product !=null) { %>
        value="<%=product.name%>"
            <% } %>>
    </div>
    <div class="product-items">
        <label>Descripción Corta</label>
        <textarea name="description_short"
            placeholder="Descripción del producto"><%if(product !=null){%><%=product.description_short%><%}%></textarea>
    </div>
    <div class="product-items">
        <label>Descripción Larga</label>
        <textarea name="description_long"
            placeholder="Descripción del producto"><%if(product !=null){%><%=product.description_long%><%}%></textarea>
    </div>
    <div class="product-items">
        <label>Imagen</label>
        <input type="file" name="product" multiple>
    </div>
    <div class="product-items-block">
        <p>Categoría</p>
        <% categories.forEach(category => { %>
           <label><input type="radio" name="category" value="<%=category.id%>" <% if (product != null && product.category_id==category.id ) { %>
            checked
            <% } %>/> <%=category.name%>
        </label> 
        <% }); %>
    </div>
    <div class="product-items-block">
        <p>Marca</p>
        <% brands.forEach(brand => { %>
           <label><input type="radio" name="brand" value="<%=brand.id%>" <% if (product != null && product.brand_id==brand.id ) { %>
            checked
            <% } %>/> <%=brand.name%>
        </label> 
        <% }); %>
    </div>
    <div class="product-items-block">
        <p>Color</p>
        <% colors.forEach(color => { %>
            <label><input type="radio" name="color" value="<%=color.id%>"/> <%=color.name%>
         </label> 
         <% }); %>
    </div>
    <div class="product-items">
        <label>Ingredientes</label>
        <textarea name="ingredients"
            placeholder="Ingredientes del producto"><%if(product !=null){%><%=product.ingredients%><%}%></textarea>
    </div>
    <div class="product-items">
        <label>Precio</label>
        <input type="number" name="price" placeholder="$12.34" value="<%if(product !=null){%><%=product.price%><%}%>">
    </div>
    <div class="product-items">
        <label>Descuento</label>
        <input type="number" name="discount" placeholder="20" value="<%if(product !=null){%><%=product.discount%><%}%>">
    </div>
    <div class="product-items">
        <label>Stock</label>
        <input type="number" name="stock" placeholder="30" value="<%if(product !=null){%><%=product.stock%><%}%>">
    </div>
    <div class="col-12">
        <button type="submit" class="buy-now-button">Guardar producto</button>
    </div>
</form>